Repository KartoonYoko/momo-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_backend, trigger_frontend

trigger_backend:
  stage: triggers
  trigger:
    include:
    - backend/.gitlab-ci.yml
    strategy: depend

trigger_frontend:
  stage: triggers
  trigger:
    include:
    - frontend/.gitlab-ci.yml
    strategy: depend

Cd
  README.md
  backend/.gitlab-ci.yml
  docker-compose.yml
  frontend/.gitlab-ci.yml
Due: trigger_backend, trigger_frontend

S3 content
  backend/cmd/api/app/app_test.go
  backend/cmd/api/dependencies/store.go
Due: trigger_backend

Test
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: trigger_backend, trigger_frontend

изменит условие срабатывания деплоя на прод
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: trigger_backend, trigger_frontend

Fix deploy
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: trigger_backend, trigger_frontend

добавит ссылку на прод
  README.md
Due: none

...
  README.md
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: trigger_backend, trigger_frontend

Изменит описание
  README.md
Due: none

Path conditions:
  trigger_backend: any of: backend/**/*
  trigger_frontend: any of: frontend/**/*
